.input-search-container {
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
}

.input-search-container.active {
  border-color: #60A5F8;
}

.input-search-container > div {
  flex: 1;
  display: block;
}

.input-search-container  > div input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px 0;
  color: #727272;
}

.input-search-container  > div input::placeholder {
  color: #CCC;
}

.input-search-container  > div label {
  margin-bottom: 5px;
  display: block;
  color: #727272;
  font-size: .8rem;
}